# Ignore all .exe files in the "Data Structures & Algorithms Master Course [SUPREME 2.0 Batch]" folder and its subfolders
Data Structures & Algorithms Master Course [SUPREME 2.0 Batch]/**/**/*.exe

# Ignore all .vscode folders and their contents
Data Structures & Algorithms Master Course [SUPREME 2.0 Batch]/**/.vscode/

Practice/
.vscode/